<h2>Edit the recipe for {{name}}</h2>

<form action="/recipes/{{_id}}/edit" method="post">
  <label> Name:
    <input type="text" name="name" value="{{name}}" />
  </label>

    <label>Spirits:
        <select name="spirits" multiple>
                <option value="Gin">Gin</option>
                <option value="Vodka">Vodka</option>
                <option value="Rum">Rum</option>
                <option value="Tequila">Tequila</option>
                <option value="Other">Other</option>
        </select>
    </label>

  <label> Ingredients:
    <input type="text" name="otherIngredients" value="{{otherIngredients}}">
  </label>

  <label> Description:
    <textarea name="description" cols="30" rows="4" >{{description}}</textarea>
  </label>

    </label>
        <label>Difficulty:
        <select name="difficulty">
                <option value="easy">easy</option>
                <option value="medium">medium</option>
                <option value="hard">hard</option>
        </select>
    </label>

  <label> Instructions:
    <textarea name="instructionSteps" cols="30" rows="8">{{instructionSteps}}</textarea>
  </label>

  <button>Save changes</button>
</form>
<p><form action="/recipes/{{_id}}/delete" method="post">
  <button>Delete</button>
</form></p>