<section class="container mt-3" style="max-width: 1000px">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Edit the recipe for
        <strong>{{recipeDetails.name}}</strong></h5>

      <form
        action="/recipes/{{recipeDetails._id}}/edit"
        method="post"
        enctype="multipart/form-data"
      >

        <div class="mb-3">
          <label class="form-label"><strong>Name:</strong></label>
            <input
              type="text"
              class="form-control"
              name="name"
              value="{{recipeDetails.name}}"
            />
        </div>

        <div class="mb-3">
          <label>Image:</label>
            <input
              type="file"
              name="cocktail-image"
              class="form-control-file"
            />
            <input
              type="text"
              name="existingImage"
              hidden
              value="{{recipeDetails.imageUrl}}"
            />
        </div>

        <div class="mb-3">
          <label class="form-label"><strong>Spirits:</strong></label>
            <select
              class="form-select"
              name="spirits"
              size="5"
              value="{{recipeDetails.spirits}}"
            >
              <option
                value="{{recipeDetails.spirits}}"
                selected
              >{{recipeDetails.spirits}}</option>
              {{#each remainingAlcohol}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
        </div>

          <div class="mb-3">
            <label class="form-label"><strong>Ingredients:</strong></label>
                  <input type="text"
                  class="form-control"
                  name="otherIngredients" 
                  value="{{ingredients}}">
          </div>

        <div class="mb-3">
          <label class="form-label"><strong>Description:</strong></label>
            <textarea
              class="form-control"
              name="description"
              cols="40"
              rows="6"
            >{{recipeDetails.description}}
            </textarea>
        </div>

        <div class="mb-3">
          <label class="form-label"><strong>Instructions:</strong></label>
            <textarea
              class="form-control"
              name="instructionSteps"
              cols="40"
              rows="4"
              >{{instructions}}
              </textarea>
          </div>

        <div class="mb-3">
          <label class="form-label"><strong>Difficulty:</strong></label>
          {{{difficultyChoice}}}
        </div>

        <button type="submit" class="btn btn-primary">Save changes</button>
      </form>

      <div class="mb-3">
        <form action="/recipes/{{recipeDetails._id}}/delete" method="post">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </div>

    </div>

  </div>

</section>
