<h2>{{name}}</h2>
Spirits: {{spirits}} <br />
Ingredients:
<ul>
    {{#each otherIngredients}}
        <li>{{this}}</li>
    {{/each}}
</ul>
Difficulty: {{difficulty}}<br />
Description: {{description}}<br />
Instructions: <ul>
    {{#each instructionSteps}}
        <li>{{this}}</li>
    {{/each}}
</ul>

<a href="/recipes/{{_id}}/edit">Edit</a>