<div class="container text-left">

  <section class="container mt-3">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Edit the recipe for<strong>{{name}}</strong></h5>

        <form action="/recipes/{{_id}}/edit" method="post">

          <div class="mb-3">
            <label class="form-label"><strong>Name:</strong></label>
            <input
              type="text"
              class="form-control"
              name="name"
              value="{{name}}"
            />
          </div>

          <div class="mb-3">
            <label class="form-label"><strong>Spirits:</strong></label>
            <select name="spirits" class="form-select" size="5" multiple>
              <option value="Gin">Gin</option>
              <option value="Vodka">Vodka</option>
              <option value="Rum">Rum</option>
              <option value="Tequila">Tequila</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <div class="mb-3">
            <label class="form-label"><strong>Ingredients:</strong></label>
            <textarea
              class="form-control"
              name="otherIngredients"
              cols="40"
              rows="4"
            >{{otherIngredients}}</textarea>
          </div>

          <div class="mb-3">
            <label class="form-label"><strong>Description:</strong></label>
            <textarea
              class="form-control"
              name="description"
              cols="40"
              rows="6"
            >{{description}}</textarea>
          </div>

          <div class="mb-3">
            <label class="form-label"><strong>Instructions:</strong></label>
            <textarea
              class="form-control"
              name="instructionSteps"
              cols="40"
              rows="4"
            >{{instructionSteps}}</textarea>
          </div>

          <div class="mb-3">
            <label class="form-label"><strong>Difficulty:</strong></label>
            <select class="form-select" name="difficulty">
              <option value="easy">easy</option>
              <option value="medium">medium</option>
              <option value="hard">hard</option>
            </select>
          </div>

          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
      </div>

      <div class="mb-3">
        <form action="/recipes/{{_id}}/delete" method="post">
          <button type="submit" class="btn btn-primary">Delete</button>
        </form>
      </div>
    </div>

  </section>
</div>