<div class="container text-left">

    <section class="container mt-3">

      <div class="card">
        <div class="card-body">

          <h5 class="card-title">{{name}}</h5>

          <p><strong>Spirits:</strong> {{spirits}} </p>
          <p><strong>Ingredients:</strong></p>
          <ul>
            {{#each otherIngredients}}
              <li>{{this}}</li>
            {{/each}}
          </ul>
          <p><strong>Difficulty:</strong> {{difficulty}}</p>
          <p><strong>Description:</strong> {{description}}</p>
          <p><strong>Instructions:</strong></p>
          <ol>
            {{#each instructionSteps}}
              <li>{{this}}</li>
            {{/each}}
          </ol>

          <a href="/recipes/{{_id}}/edit" class="btn btn-primary">Edit</a>
        </div>
      </div>
    </section>
</div>